*{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
}
.logo-wrapper{
    align-items: center;
    display:flex;
    gap: 5px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid oklch(92.8% 0.006 264.531);
    align-items: center;
}
.nav-items{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-item a {
            text-decoration: none;
            color: #6b7280;
}
.logo-icon{
    color: oklch(62.7% 0.194 149.214);
    font-size: 30px;
}
.primary-btn{
    
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: oklch(62.7% 0.194 149.214);
    padding: 12px 20px;
    border-radius: 7px;
}
.hero-container{
    padding: 50px 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
}
.hero-text-tag{
    background-color: #e5e7eb ;
    color: #4b5563;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 20px;
}
.hero-heading{
    font-size: 45px;
}
.hero-paragraph{
    color:#4b5563;
}
.hero-lists{
    list-style: none;
    color: #4b5563;
}
.hero-list i{
    color: oklch(62.7% 0.194 149.214);
}
.hero-list{
    display: flex;
    align-items: center;
}
.hero-btn-wrapper{
    display: flex;
    gap: 15px;
}
.outlined-btn{
    
    display: inline-block;
    text-decoration: none;
    background-color:white;
    padding: 12px 20px;
    border-radius: 7px;
    color: inherit;
    border: 1px solid #e5e7eb;
}

.hero-image{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.how-it-works{
    background-color: #e0f2f1;
     padding: 50px 20px;
}
 .how-it-works-title{
        text-align: center;
    }
 .how-it-works-title h2{
    font-size:32px;
    font-weight: 500;
 }
 .how-it-works-title p{
    color: #4b5563;
 }
.how-it-works-cards{
    display:flex;
    gap: 30px;
    margin-top: 40px;
}
.how-it-works-card{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    flex: 1;
}
.how-it-works-card h3{
    font-weight: 600;
    font-size: 20px;
}
.card-icon{
    display: flex;
    background-color: #e0f2f1 ;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.blue{
    color: oklch(62.7% 0.194 149.214);
}
.everything-you-need{
    padding: 50px 20px;
}
.everything-you-need-cards{
    display:flex;
    gap: 30px;
    margin-top: 40px;
}
.everything-you-need-title{
        text-align: center;
    }
 .everything-you-need-title h2{
    font-size:32px;
    font-weight: 500;
 }
 .everything-you-need-title p{
    color: #4b5563;
 }
.everything-you-need-card{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    flex: 1;
    background-color: white;
}
.everything-you-need-card h4{
    font-weight: 500;
    font-size: 20px;
}
.everything-you-need-card p {
     color: #4b5563;
}
.everything-you-need-card ul{
    list-style: none;
     color: #4b5563;
}
.dot{
    font-size: 30px;
    font-weight: 800;
}
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f2f1;
    padding: 30px 60px;
}
.cta-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:  oklch(62.7% 0.194 149.214);
    flex-basis: 800px;
    padding: 30px 60px;
    border-radius: 8px;
    color:#e5e7eb;
}
.cta-link-box{
    align-self: center;
    padding: 10px;
    background-color:#e5e7eb;
    border-radius: 10px;
}
.cta-link{
     text-decoration: none;
    color: #4b5563;
}
.cta-container h3{
    align-self: center;
    font-size: 28px;
    font-weight: 600;
}
footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
   color: #4b5563;
}
